*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Lexend", sans-serif;
    

}
body{
    background-color: #f5f4f9;
}
header{
    background-image: url(/img/fundo\ hearde.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 244px;
    padding-left: 95px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 16px 92px;
    margin-bottom: 114px;
    & nav ul{
        display: flex;
        padding: 10px;
        gap: 40px;
        justify-content: space-between;
        & li:first-child a{
            color: #fff;
        }
        & li a {
            color: #EFEFEFB2;
        }
    }
    
    & .btns button:first-child{
        background: #3B44F6;
        color: #fff;
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
    }
    & .btns button:last-child{
        color: #fff;
        padding: 8px 16px;
        background-color: transparent;
        border: #fff 1px solid;
        border-radius: 8px;
    }
}
.promo3{
    display: flex;
    flex-direction: column;
    gap: 64px;
  
    & .title{
        display: flex;
        flex-direction: column;
        gap: 17px;

        & h1 {
            color: #fff;
            font-family: Lexend;
            font-size: 48px;
            font-weight: 600;
            line-height: 71.04px;
            text-align: left;
        }
        & p{
            color: #fff;
            font-family: Lexend;
            font-size: 24px;
            font-weight: 500;
            line-height: 33.6px;
            text-align: left;
        }
    }
   
    
    & .btn button{
    
        padding: 16px 32px 16px 32px;
        gap: 10px;
        border-radius: 8px 8px 8px 8px;
        opacity: 0px;
        gap: 10px;
        background: #3B44F6;
        color: #fff;


    }
}
main .why{
    top: 720px;
    padding: 70px 182px 70px 182px;
    gap: 60px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        & h1{
            font-size: 36px;
            font-weight: 600;
            line-height: 50.4px;
            text-align: center;
        }
        & p{
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: center;

        }
     }
    & .cards {
        display: flex;
        gap: 83px;
        & .card{
            font-family: Lexend;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            text-align: center;
             
        }

        
    }

}
.title{
    display: flex;
    justify-content: space-between;
    & h1{
        font-size: 36px;
        font-weight: 600;
        line-height: 50.4px;
        text-align: left;
    }
    & ul li a {
        color: #3B44F6;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: right;

    }
}
.genres{
    width: Hug (1,280px)px;
    height: Hug (323px)px;
    top: 1207px;
    padding: 40px 92px 40px 92px;
    gap: 24px;
    opacity: 0px;

}
.genres .cards{
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-top: 19px ;
        & .card{
            display: flex;
            width: 169px;
            height: 169px;
            gap: 0px;
            border-radius: 8px 8px 8px 8px;
            opacity: 0px;            
            color: #fff;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat ;
            
            

            & p {
                font-size: 20px;
                font-weight: 500;
            }    
        }
    }
     .strategy{
        background-image: url(./img2.svg/strategy.svg); 
        
    }
    .fps{
        background-image: url(./img2.svg/fps.svg);
        
    }
    .rpg{
        background-image: url(./img2.svg/rpg.svg);
    }
    .puzzle{
        background-image: url(./img2.svg/puzzle.svg);
    }
    .role{
        background-image: url(./img2.svg/role.svg);
    }
    .sport{
        background-image: url(./img2.svg/sports.svg);
    }
    .best{
        & .title{

        }
        & .cards{
            display: flex;
            justify-content: space-between;
            padding: 50px;
            & .card{
                background-color: #fff;
                padding: 16px;
                & .content{
                    padding: 16px;

                    & .prices{
                        display: flex;
                        justify-content: space-between;
                        gap: 17px;

                        & h5{
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 22.4px;
                            text-align: left;
                            color: #3B44F6;
                            background-color: #D8DAFD;
                            margin-top: 16px;
                            padding: 4px 0px 4px 0px;
                            gap: 8px;
                            border-radius: 4px;
                            opacity: 0px;


                           }
                        
                        & h4 {  
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 22.4px;
                            text-align: left;
                            color: #3B44F6;
                            padding-top: 17px;
                        }
                        & .desconto{
                            display: flex;
                            gap: 6px;
                            border-radius: 4px 0px 0px 0px;
                            border: 0.5px 0px 0px 0px;
                            opacity: 0px;
                            padding-top: 17px;

                            

                            & span{
                                padding: 3px 0px 0px 0px;
                                gap: 10px;
                                border-radius: 4px 0px 0px 0px;
                                opacity: 0px;
                                background-color:#FC326F33;
                                color: red
                                ;
                            }
                            & p{
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 18.76px;
                                text-align: left;
                                color: #7D7D7D;
                                text-decoration: line-through;
                                background-color: #F5F4F9
                                

                            }
    
                        }
                    }
                }
            }
        }
    }


