*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    background-image: url(/img/fundo\ hearde.svg);
    width: 1280px;
    height: 720px;
    gap: 0px;
    opacity: 0px;

}
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 16px 92px;
    & nav ul{
        display: flex;
        padding: 10px;
        gap: 40px;
        justify-content: space-between;
        & li:first-child a{
            color: aliceblue;
        }
    }
    & .btns button:first-child{
        background: #3B44F6;
        color: #fff;
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
    }
    & .btns button:last-child{
        padding: 8px 16px;
        background-color: transparent;
        border: black 1px solid;
        border-radius: 8px;


    }
}