*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    background-image: url(/img/fundo\ hearde.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 244px;
    padding-left: 95px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 16px 92px;
    margin-bottom: 114px;
    margin-top: ;
    & nav ul{
        display: flex;
        padding: 10px;
        gap: 40px;
        justify-content: space-between;
        & li:first-child a{
            color: #fff;
        }
        & li a {
            color: #EFEFEFB2;
        }
    }
    
    & .btns button:first-child{
        background: #3B44F6;
        color: #fff;
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
    }
    & .btns button:last-child{
        color: #fff;
        padding: 8px 16px;
        background-color: transparent;
        border: #fff 1px solid;
        border-radius: 8px;
    }
}
.promo3{
    display: flex;
    flex-direction: column;
    gap: 64px;
  
    & .title{
        display: flex;
        flex-direction: column;
        gap: 17px;

        & h1 {
            color: #fff;
            font-family: Lexend;
            font-size: 48px;
            font-weight: 600;
            line-height: 71.04px;
            text-align: left;
        }
        & p{
            color: #fff;
            font-family: Lexend;
            font-size: 24px;
            font-weight: 500;
            line-height: 33.6px;
            text-align: left;
        }
    }
   
    
    & .btn button{
    
        padding: 16px 32px 16px 32px;
        gap: 10px;
        border-radius: 8px 8px 8px 8px;
        opacity: 0px;
        gap: 10px;
        background: #3B44F6;
        color: #fff;


    }
}
main .why{
    top: 720px;
    padding: 70px 182px 70px 182px;
    gap: 60px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        & h1{
            font-size: 36px;
            font-weight: 600;
            line-height: 50.4px;
            text-align: center;
        }
        & p{
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: center;

        }
     }
    & .cards {
        display: flex;
        gap: 83px;
        & .card{
            font-family: Lexend;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            text-align: center;
             
        }

        
    }

}
